<!DOCTYPE html>
<html>
  <head>
    <title>Cerca ricetta</title>
	<link rel="stylesheet" href="/css/stile.css">
  </head>

  <body>
	<div class="sfondo">
		<div class="content">
		    <h1>Cerca la ricetta</h1>
		    <form th:action="@{/cercaRicetta}" method="POST" th:object="${ricetta}">
		      <div>
		        <span th:text="${messaggioErrore}">Errore</span>
		      </div>
		      <div>
		        Nome: <span><input required type="text" th:field="${ricetta.nome}"/></span>
		      </div>
		      <div>
		        <span><button type="submit">Conferma</button></span>
		      </div>
			  <button type="button"><a class="bottone" href="/">Homepage</a></button>

			  <div th:unless="${ricetta}">Non esiste</div>
			  
		    </form>
		</div>
	</div>
  </body>
</html>