<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

    <div class="sfondo">

        <div class="content">
			<h2 class="titolo">Registrati!</h2>
			<br><br>
            <form th:action="@{/registerScelta}" method="POST">
				
				<div class="contenitoreScelta">
					<p>Vuoi solamente vedere le ricette?</p>
					<button type="button"><a class="bottone" href="/register">Clicca qui</a></button><br><br>
				</div>
				
				<div class="contenitoreScelta">
					<p>Vuoi registrarti come cuoco?</p>
					<button type="button"><a class="bottone" href="/registerCuoco">Clicca qui</a></button><br><br>
				</div>
					
            </form>
        </div>
    </div>

</body>

</html>